<%= render "navbar" %>
<div class="container-fluid mx-0">
  <div class="row mx-0">
    <div class="justify-content-center col">
      <div class="card-trip w-100 sticky-top mt-5">
        <img src="https://smoothphotoscanning.com/wp-content/uploads/2020/07/pic-new-2-e1594364405908.jpg" />
        <div class="card-trip-infos d-flex justify-content-center">
          <div>
            <h2>New List</h2>
            <%= simple_form_for(@list) do |f| %>
              <%= f.input :name %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <h1 class="fw-bold mt-5">Top rated Movies</h1>
      <div class="justify-content-center cards">
        <% @movies.each do |movie| %>
          <div class="card-movie" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>)">
            <%= movie.title %>
          </div>
        <% end %>
    </div>
  </div>
</div>
