<%= render "navbar" %>
<div class="container-fluid my-3 ms-5 d-flex align-items-center">
  <span class="fw-bold fs-2"><%= @list.name %></span>
  <%= link_to new_list_bookmark_path(@list) do %>
    <i class="fa-solid fa-circle-plus fs-4 ms-3 text-primary"></i>
  <% end %>
</div>
<div class="container-fluid px-5">
 <div>
    <div class="justify-content-center cards">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-movie-info">
        <img src="<%= bookmark.movie.poster_url %>" />
          <div class="card-movie-infos">
            <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-square-minus"></i>
            <% end %>
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.comment %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
